@font-face {
    font-family: 'Fira Sans';
    src: url('subset-FiraSans-Medium.woff2') format('woff2'),
        url('subset-FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

